{{- if gt .Values.replicas 1}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "maplarge.name" . }}-update-hook
  annotations:
    "helm.sh/hook": pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "-5"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "maplarge.name" . }}-update-hook
  annotations:
    "helm.sh/hook": pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "-5"
rules:
  - apiGroups: ["apps"]
    resources: ["statefulsets", "statefulsets/scale"]
    verbs: ["get", "list", "patch", "update"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods/exec"]
    verbs: ["create"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "maplarge.name" . }}-update-hook
  annotations:
    "helm.sh/hook": pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "-5"
subjects:
  - kind: ServiceAccount
    name: {{ include "maplarge.name" . }}-update-hook
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: {{ include "maplarge.name" . }}-update-hook
  apiGroup: rbac.authorization.k8s.io
{{- end}}
