{{ $namespace := .Release.Namespace }}
{{ $statefulSetName := include "maplarge.fullname" . }}
{{ $headlessServiceName := include "maplarge.headlessServiceName" . }}
{{ $clusterConfigToMerge := .Values.clusterConfig }}
{{ $configMapName := include "maplarge.configMapName" . }}
{{ $clusterConfigJson := include "maplarge.clusterConfigJson" . }}
apiVersion: v1
data:
  cluster.json: {{ $clusterConfigJson | quote }}
  {{- if .Values.config }}
  config.json: {{ toPrettyJson .Values.config | quote  }}
  {{- end }}
  {{- if .Values.authPlugin.enabled }}
  {{ .Values.authPlugin.filename }}: {{ toPrettyJson .Values.authPlugin.config | quote }}
  {{- end }}
  {{- if or .Values.jsjs.value .Values.notebooks.enabled }}
  js.js: {{ include "maplarge.jsjs" .  | quote }}
  {{- end }}
  {{- if .Values.interClusterConfigJson}}
  interclusterConfig.json: {{ .Values.interClusterConfigJson | quote }}
  {{- end }}
kind: ConfigMap
metadata:
  name: {{ $configMapName }}
  labels:
    application: {{ .Release.Name | quote }}
    {{- include "maplarge.labels" . | nindent 4 }}

