{{- if .Values.notebooks.enabled -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "maplarge.serviceAccountName" . }}:notebooks
  labels:
    application: {{ .Release.Name | quote }}
rules:
  - verbs:
      - get
      - list
      - watch
    apiGroups:
      - ''
    resources:
      - namespaces
      - pods
      - pods/log
      - pods/exec
      - pods/attach
      - persistentvolumeclaims

  - verbs:
      - create
      - delete
      - deletecollection
      - patch
      - update
    apiGroups:
      - ''
    resources:
      - pods
      - pods/exec
      - pods/attach
  - verbs:
      - create
      - delete
      - deletecollection
      - patch
      - update
    apiGroups: ["batch"]
    resources: ["jobs"]
{{- end -}}