{{- if or .Values.serviceAccount.create .Values.notebooks.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "maplarge.serviceAccountName" . }}
  labels:
    application: {{ .Release.Name | quote }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
  {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}